In [1]:
import pandas as pd

In [2]:
used_bikes = pd.read_csv(r"G:\Company Tests\NeenOpal\Task 2 Data\used_bikes.csv")

In [13]:
used_bikes.head()

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha

In [14]:
used_bikes.shape

(149, 8)

### Without changing the column datatypes

In [9]:
## total memory usage by the data

used_bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   bike_name   149 non-null    object
 1   price       149 non-null    float64
 2   city        149 non-null    object
 3   kms_driven  149 non-null    float64
 4   owner       149 non-null    object
 5   age         149 non-null    float64
 6   power       149 non-null    float64
 7   brand       149 non-null    object
dtypes: float64(4), object(4)
memory usage: 9.4+ KB

Total memory usage by the data - **9.4 kb** (all columns combined)

In [16]:
## memory usage by each column (in bytes)

used_bikes.memory_usage(deep = True)

Index           128
bike_name     11954
price          1192
city           9546
kms_driven     1192
owner         10144
age            1192
power          1192
brand          9517
dtype: int64

### Changing datatype of columns

Here columns _price, kms_driven, age & power_ are **float** type. As they contain only integer values in the dataset, datatype of these columns can be converted into **int**. In this way memory usage can also be reduced.

In [27]:
## Changing datatypes of columns

used_bikes["price"] = used_bikes["price"].astype(int)
used_bikes["kms_driven"] = used_bikes["kms_driven"].astype(int)
used_bikes["age"] = used_bikes["age"].astype(int)
used_bikes["power"] = used_bikes["power"].astype(int)

In [28]:
## total memory usage by the data (after changing datatype)

used_bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   bike_name   149 non-null    object
 1   price       149 non-null    int32
 2   city        149 non-null    object
 3   kms_driven  149 non-null    int32
 4   owner       149 non-null    object
 5   age         149 non-null    int32
 6   power       149 non-null    int32
 7   brand       149 non-null    object
dtypes: int32(4), object(4)
memory usage: 7.1+ KB

In [29]:
## memory usage by each column (in bytes) -after changing datatype

used_bikes.memory_usage(deep = True)

Index           128
bike_name     11954
price           596
city           9546
kms_driven      596
owner         10144
age             596
power           596
brand          9517
dtype: int64

### For questions 3 & 4, I am not very sure about the approach, but I'll try some way.

#### _Deleting indexing from the table:_

ALTER TABLE used_bikes 
DROP INDEX


#### _Inserting data into mysql:_

used_bikes.to_sql(con=con, name='USED_BIKES', if_exists='replace', flavor='mysql')